.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  overflow: scroll;
}
.item::-webkit-scrollbar {
  width: 0;
}
.item:hover {
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
}
.item:hover .title {
  color: var(--clr-grey-5);
}
.title,
.done {
  margin-bottom: 0;
  color: var(--clr-grey-1);
  letter-spacing: 2px;
  transition: var(--transition);
  font-size: 2rem;
  font-family: 'Caveat', cursive;
  overflow: scroll;
}
.title::-webkit-scrollbar {
  width: 0;
}
.done::-webkit-scrollbar {
  width: 0;
}
.done {
  text-decoration: line-through;
}
.edit,
.delete {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit {
  color: var(--clr-green-light);
}
.edit:hover {
  color: var(--clr-green-dark);
}
.delete {
  color: var(--clr-red-light);
}
.delete:hover {
  color: var(--clr-red-dark);
}
.btns {
  display: flex;
}
@media screen and (max-width: 400px) {
  .title {
    font-size: 1rem;
  }
}
